fitparse==1.2.0
garminconnect==0.2.30
Jinja2==3.1.6
Markdown==3.9
matplotlib==3.10.6
numpy==2.3.3
pandas==2.3.2
plotly==6.3.0
python-dotenv==1.1.1
python_magic==0.4.27
seaborn==0.13.2
setuptools==80.9.0
weasyprint==66.0
